{% extends 'base.html' %}
{% block content %}
<script src="../static/js/jquery.min.js"></script>
  <div class="container">
    <div class="row justify-content-center my-4">
      <div class="col-md-6">
        <div class="card">
          <div id="snackbar"></div>
          <div class="card-header">
            <h1 class="text-center">Новый товар</h1>
          </div>
          <div class="card-body">
            <form action="" method="post" id="form_add"  enctype=multipart/form-data>
              <div class="form-group">
                <label for="title">Заголовок:</label>
                <input type="text" class="form-control" id="title" value="" name="title" required>
              </div>
              <div class="form-group">
                <label for="content">Краткая характеристика:</label>
                <textarea class="form-control" id="content" name="content" value=""required></textarea>
              </div>
              <div class="form-group">
                <label for="title">Цена</label>
                <input type="number" class="form-control" id="price" value="" name="price" required>
              </div>
              <label for="content">Фотография товара (формат: jpg, jpeg или png):</label>
              <div class="form-group">
                <input type='file' id = 'file' name='file' multiple='multiple'>
              </div>
              <div class="form-group">
                <label for="category">Категория:</label>
                <select class="form-control" id="category" value="" name="category" required>
                  {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <button type="submit" id="button" class="btn btn-primary mt-5" onclick="">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    /* javascript function to validate file type */
    // function validateFileType() {
    //     var inputElement = document.getElementById('file');
    //     var files = inputElement.files;
    //     if(files.length==0){
    //         alert("Please choose a file first...");
    //         return false;
    //     }else{
    //         var filename = files[0].name;

    //         /* getting file extenstion eg- .jpg,.png, etc */
    //         var extension = filename.substr(filename.lastIndexOf("."));

    //         /* define allowed file types */
    //         var allowedExtensionsRegx = /(\.jpg|\.jpeg|\.png|\.gif)$/i;

    //         /* testing extension with regular expression */
    //         var isAllowed = allowedExtensionsRegx.test(extension);

    //         if(isAllowed){
    //             alert("File type is valid for the upload");
    //             /* file upload logic goes here... */
    //         }else{
    //             alert("Invalid File Type.");
    //             return false;
    //         }
    //     }
    // }



    function showToast(content = "Unknown error") { 
    var x = document.getElementById("snackbar");
    x.innerHTML = content;
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  }


    $(document).ready(function() {
  $('#form_add').submit(function(event) {
    event.preventDefault();
    $.ajax({
      type: 'POST',
      url: '/add',
      data: {
          'title': $('input[name=title]').val(),
          'content': $('textarea[name=content]').val(),
          'price': $('input[name=price]').val(),
          'category': $('select[name=category]').val(),
        },
      success: function(response) {
        var inputElement = document.getElementById('file');
        var files = inputElement.files;
        if(files.length==0){
            showToast("Выберите фотографию для товара!");
        }else{
          var filename = files[0].name;
          var extension = filename.substr(filename.lastIndexOf("."));
          var allowedExtensionsRegx = /(\.jpg|\.jpeg|\.png|\.gif)$/i;
          var isAllowed = allowedExtensionsRegx.test(extension);
            if(isAllowed){
              showToast('Товар успешно добавлен в БД методом AJAX! Вы можете продолжить добавлять товары, либо перейти на главную страницу!');
              $('#form_add')[0].reset();
              upload_file();
            }else{
              showToast("Неверный тип файла!");
            }
        }

      }
    });
  });
});
$(function upload_file() {
    $('#button').click(function() {
        var form_data = new FormData($('#form_add')[0]);
        $.ajax({
            type: 'POST',
            url: '/add',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data) { 
            },
        });
    });
});
  </script>
  <style>
    #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    right: 50%;
    bottom: 40px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 12s 28s;
    animation: fadein 0.5s, fadeout 12s 28s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  </style>
{% endblock %}
