{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <h1 class="my-4">Мои товары</h1>
    <div class="row">
      {% if tovars %}
        {% for tovar in tovars %}
          <div class="col-6 mb-4">
            <div class="card">
              <div class="card-body">
              <h5 class="card-title">{{ tovar.title }}</h5>
               <img class="card-title" src = "{{ url_for('static', filename=tovar.photo) }}"    width="260" height="160"></img>
               <h5 class="card-title">Цена:</h5>
               <h5  class="card-title">{{ tovar.price }} руб. </h5>
               <h5 class="card-title">Категория:</h5>
                <a href="{{ url_for('category', category_id=tovar.category.id) }}" class="p-1 mb-1 bg-dark text-white rounded text-decoration-none">{{ tovar.category.name }}</a>
                <h5 class="card-title">Краткая характеристика:</h5>
                <p class="card-text">{{ tovar.content[:50] }}... <a href="{{ url_for('tovar', tovar_id=tovar.id) }}" class="text-decoration-none">Узнать больше</a></p>
              </div>
              <div class="card-footer">
                <a href="{{ url_for('edit', tovar_id=tovar.id) }}" class="btn btn-secondary">Редактировать</a>
                <a href="{{ url_for('delete', tovar_id=tovar.id) }}" class="btn btn-danger">Удалить</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col">
          <p>Товаров пока нет - добавьте первый!</p>
        </div>
      {% endif %}
    </div>
    <div class="row mt-4">
      <div class="col">
        <a href="{{ url_for('add') }}" class="btn btn-primary">Добавить товар</a>
      </div>
    </div>
  </div>
{% endblock %}